body {
    width: 100%;
    height: 100%;
    margin:0;
    padding:0;
    overflow: hidden;
}

#game{
    margin:0;
    padding:0;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

@font-face {
    font-family: antfont;
    src: url("../../assets/Fonts/antpile.ttf");
    font-weight:normal;
}

.fontloader {
    position: absolute;
    left: -1000px;
    visibility: hidden;
}
